This site helps to facilitate a new method of political organization. The idea is to make a more democratic form of political organization. So, you login with your facebook account, and then you can follow someone. However, only two people can follow someone. 

If you get two followers, you can't get anymore followers. Next, you can communicate with both your followers, and whoever you are following. You can <a href="/auth/facebook">click here</a> to get started.
